{% extends 'base.html.twig' %}

{% block content %}
    {% include 'components/breadcrumbs.html.twig' %}
    {% include 'components/class-title.html.twig' with { symfony_version: '5.4' } %}
    {% include('components/element-header.html.twig') %}
    {% include 'components/constants.html.twig' %}
    {% include 'components/properties.html.twig' %}
    {% include 'components/methods.html.twig' %}
{% endblock %}

{% block on_this_page %}
    {% set constants = constants(node) %}
    {% set properties = properties(node) %}
    {% set methods = methods(node) %}

    {% if constants is not empty or properties is not empty or methods is not empty %}
        <label class="md-nav__title" for="__toc" title="{{ node.name }}">
            {{ node.name }}
        </label>
    {% endif %}

    <ul class="md-nav__list">
        {% if constants is not empty %}
            <li class="md-nav__item level-1 with-children">
                <a href="{{ node|route("url")|raw }}#constants" title="Constants" class="md-nav__link">
                    Constants
                </a>
                <nav class="md-nav">
                    <ul class="md-nav__list">
                        {% for constant in constants|sortByVisibility %}
                            <li class="md-nav__item level-2">
                                <a href="{{ link(constant) }}" title="{{ constant.name }}" class="md-nav__link">
                                    {{ constant.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </li>
        {% endif %}
        {% if properties is not empty %}
            <li class="md-nav__item level-1 with-children">
                <a href="{{ node|route("url")|raw }}#properties" title="Properties" class="md-nav__link">
                    Properties
                </a>
                <nav class="md-nav">
                    <ul class="md-nav__list">
                        {% for property in properties|sortByVisibility %}
                            <li class="md-nav__item level-2">
                                <a href="{{ link(property) }}" title="{{ property.name }}" class="md-nav__link">
                                    {{ property.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </li>
        {% endif %}
        {% if methods is not empty %}
            <li class="md-nav__item level-1 with-children">
                <a href="{{ node|route("url")|raw }}#methods" title="Methods" class="md-nav__link">
                    Methods
                </a>
                <nav class="md-nav">
                    <ul class="md-nav__list">
                        {% for method in methods|sortByVisibility %}
                            <li class="md-nav__item level-2">
                                <a href="{{ link(method) }}" title="{{ method.name }}" class="md-nav__link">
                                    {{ method.name }}()
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </li>
        {% endif %}
    </ul>
{% endblock %}
