{% extends '@ibexadesign/ui/layout.html.twig' %}

{% block title %}{{ 'Content List'|trans }}{% endblock %}

{%- block breadcrumbs -%}
    {% include '@ibexadesign/ui/breadcrumbs.html.twig' with { items: [
        { value: 'url.list'|trans|desc('Content List') }
    ]} %}
{%- endblock -%}

{%- block page_title -%}
    {% include '@ibexadesign/ui/page_title.html.twig' with {
        title: 'url.list'|trans|desc('Content List'),
        icon_name: 'article'
    } %}
{%- endblock -%}

{%- block content -%}
    <section class="container my-4">
        <div class="ibexa-table-header">
            <div class="ibexa-table-header__headline">{{ "Content List"|trans }}</div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'Content name'|trans }}</th>
                <th>{{ 'Content Type'|trans }}</th>
                <th>{{ 'Modified'|trans }}</th>
                <th>{{ 'Published'|trans }}</th>
                <th>{{ 'Edit'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td><a href={{ibexa_path(article)}}>{{ ibexa_content_name(article.contentInfo) }}</a></td>
                    <td>{{ article.contentInfo.contentTypeId }}</td>
                    <td>{{ article.contentInfo.modificationDate|ibexa_full_datetime }}</td>
                    <td>{{ article.contentInfo.publishedDate|ibexa_full_datetime }}</td>
                    <td>
                        <button class="btn btn-icon mx-2 ibexa-btn--content-edit"
                                title="{{ 'dashboard.table.all.content.edit'|trans|desc('Edit Content') }}"
                                data-content-id="{{ article.contentInfo.id }}"
                                data-version-no="{{ article.contentInfo.currentVersionNo }}"
                                data-language-code="{{ article.contentInfo.mainLanguageCode }}">
                            <svg class="ibexa-icon ibexa-icon-edit">
                                <use xlink:href="{{ asset('bundles/ibexaplatformicons/img/all-icons.svg') }}#edit"></use>
                            </svg>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ pagerfanta(articles, 'ez') }}
    </section>    
    {{ form_start(form_edit, {
        'action': path('ibexa.content.edit'),
        'attr':
        { 'class': 'ibexa-edit-content-form'}
    }) }}
    {{ form_widget(form_edit.language, {'attr': {'hidden': 'hidden', 'class': 'language-input'}}) }}
    {{ form_end(form_edit) }}
    {% include '@ibexadesign/content/modal/version_conflict.html.twig' %}
{%- endblock -%}

{% block javascripts %}
    {{ encore_entry_script_tags('ezplatform-admin-ui-dashboard-js', null, 'ezplatform') }}
{%- endblock -%}
