{% if method.responses %}
    <div class="py-3">
        <h6 class="heading text-gray border-bottom pb-2">Possible responses</h6>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Description</th>
                </tr>
                </thead>
                <tbody>
                {% for response in method.responses %}
                    <tr>
                        <td>
                            {% if response.bodies|length > 0%}
                            <a href="#{{ method_name_id(sectionId) }}-{{ method.type|lower }}-response-{{ response.statusCode }}"
                               class="text-ocean-blue {% if loop.first %}{% endif %}">
                                {{ response.statusCode }}
                            </a>
                            {% else %}
                                {{ response.statusCode }}
                            {% endif %}
                        </td>
                        <td>
                            <p>{{ response.description }}</p>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
