<div class="response">
    {% for response in method.responses %}
        {% if response.headers or response.bodies %}
            {% if response.bodies %}
                {% set tabId = method_name_id(sectionId ~ '-' ~ method.type|lower ~ '-response-' ~ response.statusCode) %}
                <div class="pb-3 response__code" id="{{ tabId }}">
                    <div class="d-flex justify-content-between align-items-baseline">
                        <ul class="nav nav-tabs border-bottom-0" id="{{ tabId }}Tab" role="tablist">
                            {% set tabItems = examples_tabs(response.bodies) %}
                            {% if tabItems|length > 0 %}
                                <li class="nav-item">
                                    <a href="#" class="nav-link disabled">Responses</a>
                                </li>
                                {% for item in tabItems %}
                                    {% set itemId = tabId ~ '-' ~ item %}
                                    <li class="nav-item">
                                        <a class="nav-link {{ loop.index == 1 ? 'active' : '' }} text-gray" id="{{ itemId }}-tab"
                                           data-toggle="tab"
                                           href="#{{ itemId }}"
                                           role="tab"
                                           aria-controls="{{ itemId }}"
                                           aria-selected="{{ loop.index == 1 ? 'true' : 'false' }}">
                                            {{ item }}
                                        </a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                        {% if tabItems|length > 0 %}
                            <div>
                                <code>Code: {{ response.statusCode }}</code>
                            </div>
                        {% endif %}
                    </div>
                    {% set examples = examples_body(response.bodies) %}
                    {% if examples|length > 0 %}
                        {% include theme ~ "/example.html.twig" %}
                        {% include theme ~ "/example-modal.html.twig" %}
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
