{% set breadcrumbs = usesNamespaces ? breadcrumbs(node) : packages(node) %}
{% set fqcn = breadcrumbs|map(breadcrumb => breadcrumb.name)|join('\\') ~ '\\' ~ node.name %}

{% embed 'components/content-header.html.twig' with { 
    anchor: node.name,
    anchor_link: '#' ~ node.name,
    fqcn,
    add_edition: true,
} %}
    {% block subheader %}
        {% if node.parent %}
            <div class="content-header__subheader">
                {% if node.parent.__toString starts with '\\Symfony\\' %}
                    Extends
                    <a href="{{ 'https://github.com/symfony/symfony/blob/' ~ symfony_version ~ '/src' ~ node.parent|replace({'\\': '/'}) ~ '.php' }}" class="external">
                        <abbr title="{{ node.parent }}">{{ node.parent.name }}</abbr>
                    </a>
                {% else %}
                    Extends {{ node.parent|route('class:short') }}
                {% endif %}
            </div>
        {% endif %}

        {% if node.interfaces is not empty %}
            <div class="content-header__subheader">
                Implements
                {% for interface in node.interfaces %}
                    {{ interface|route('class:short') }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {% if node.usedTraits is not empty %}
            <div class="content-header__subheader">
                Uses
                {% for trait in node.usedTraits %}
                    {{ trait|route('class:short') }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}
{% endembed %}
