<div class="content-header">
    {% if add_edition|default(false) %}
        <div class="pills">
            {% include 'components/edition-tag.html.twig' %}
        </div>
    {% endif %}
    <{{ header_tag|default('h1') }} id="{{ anchor }}">
        {% block name %}{{ node.name }}{% endblock %}
        {% if fqcn is not defined %}
            {%- include 'components/anchor.html.twig' with { anchor_link } -%}
        {% endif %}
    </{{ header_tag|default('h1') }}>
    {% if fqcn is defined %}
        <button class="content-header__copy-fqcn copy-to-clipboard" title="{{ fqcn }}" data-copy-value="{{ fqcn }}">Copy FQCN</button>
    {% endif %}
    <div class="content-header__found-in copy-to-clipboard" data-copy-value="{{ node.file.path }}">
        <abbr title="{{ node.file.path }}">{{ node.file.name }}</abbr>
        {% if node.line %}
        :
        <span title="at line {{ node.line }}">{{ node.line }}</span>
        {% endif %}
        <img src="./images/copy.svg" title="Copy path" />
    </div>
    {% block subheader %}{% endblock %}
    {% if has_subheader %}
        <div class="content-header__extends">
            extends
            {% for interface in node.parent %}
                {{ interface|route('class:short') }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>
