{# https://github.com/phpDocumentor/phpDocumentor/blob/v3.3.1/data/templates/default/components/table-of-contents.html.twig #}
{% if packages|default([]) is not empty %}
<h3 id="packages">
    Packages
    <a href="#packages" class="headerlink"><i class="fas fa-link"></i></a>
</h3>

<dl class="phpdocumentor-table-of-contents">
    {% for package in packages %}
        <dt class="phpdocumentor-table-of-contents__entry -package">{{ package|route('class:short') }}</dt>
    {% endfor %}
</dl>
{% endif %}

{% if namespaces|default([]) is not empty %}
<h3 id="namespaces">
    Namespaces
    <a href="#namespaces" class="headerlink"><i class="fas fa-link"></i></a>
</h3>

<dl class="phpdocumentor-table-of-contents">
    {% for namespace in namespaces %}
        <dt class="phpdocumentor-table-of-contents__entry -namespace">{{ namespace|route('class:short') }}</dt>
    {% endfor %}
</dl>
{% endif %}

{% if node.interfaces is not empty or node.classes is not empty or node.traits is not empty or node.enums is not empty %}
<h3 id="interfaces_class_traits">
    Interfaces, Classes, Traits and Enums
    <a href="#interfaces_class_traits" class="headerlink"><i class="fas fa-link"></i></a>
</h3>

<dl class="phpdocumentor-table-of-contents">
    {% for interface in node.interfaces %}
        <dt class="phpdocumentor-table-of-contents__entry -interface">{{ interface|route('class:short') }}</dt>
        <dd>{{ interface.summary }}</dd>
    {% endfor %}

    {% for class in node.classes %}
        <dt class="phpdocumentor-table-of-contents__entry -class">{{ class|route('class:short') }}</dt>
        <dd>{{ class.summary }}</dd>
    {% endfor %}

    {% for trait in node.traits %}
        <dt class="phpdocumentor-table-of-contents__entry -trait">{{ trait|route('class:short') }}</dt>
        <dd>{{ trait.summary }}</dd>
    {% endfor %}

    {% for enum in node.enums %}
        <dt class="phpdocumentor-table-of-contents__entry -enum">{{ enum|route('class:short') }}</dt>
        <dd>{{ enum.summary }}</dd>
    {% endfor %}
</dl>
{% endif %}
