{% extends '@ibexadesign/pagelayout_front.html.twig' %}

{% block all_content %}
    <div class="ezcommerce-product">
        <div class="ezcommerce-product__top">
            <div class="ezcommerce-product__main">
                <h2>{{ catalogElement.name }}</h2>

                {% if catalogElement.sku is defined %}
                    <div>{{ 'product.sku'|trans({'%sku%': catalogElement.sku})|desc('SKU: %sku%') }}</div>
                {% endif %}

                <img src="/{{ ibexa_commerce_imageconverter(ibexa_commerce_assets_main_image(catalogElement), 'thumb_medium') }}">

                {% if catalogElement.shortDescription %}
                    <div>{{ catalogElement.shortDescription|raw }}</div>
                {% endif %}

                {% if catalogElement.longDescription %}
                    <div>{{ catalogElement.longDescription|raw }}</div>
                {% endif %}

            </div>
            <div class="ezcommerce-product__sidebar">
                {% block sidebar %}{% endblock %}
            </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
