{% extends '@ibexadesign/storefront/layout.html.twig' %}

{% form_theme form '@ibexadesign/storefront/form_fields.html.twig' %}

{% block content %}
    {{ form_start(form) }}
        {{ form_widget(form._token) }}

        <header class="checkout-header">
            <h1>One-page checkout</h1>
            <p>A one-page checkout displays all elements of a standard checkout process on a single page, including payment
                details, billing and shipping addresses, and shipping options. This reduces the number of pages and clicks
                to complete payment, resulting in a faster checkout process.</p>
        </header>

        {% for child in form %}
            {% if not child.rendered %}
                <fieldset class="checkout-field-group">
                    <header class="checkout-field-group-header">
                        <span class="checkout-field-group-step">
                            {{ loop.index }}
                        </span>
                        <span class="checkout-field-group-label">
                            {{ child.vars.label }}
                        </span>
                    </header>

                    <div class="checkout-field-group-form">
                        {{ form_widget(child) }}
                    </div>
                </fieldset>
            {% endif %}
        {% endfor %}

        <button class="ibexa-store-btn ibexa-store-btn--primary">
            Complete purchase
        </button>
    {{ form_end(form) }}
{% endblock %}