{% extends '@ibexadesign/storefront/layout.html.twig' %}

{% form_theme form '@ibexadesign/storefront/form_fields.html.twig' %}

{% block content %}
    {{ form_start(form) }}
        {{ form_widget(form._token) }}

        <header class="checkout-header">
            <h1>Single-page checkout</h1>
            <p>A single-page checkout uses one page to display all the elements of a standard checkout process, 
                including payment details, billing and shipping addresses, and shipping options.</p>
        </header>

        <div class="ibexa-store-checkout__content">
            {% for child in form %}
                {% if not child.rendered %}
                    <div class="ibexa-store-checkout-block__header">
                        <div class="ibexa-store-checkout-block__header-step">{{ loop.index }}</div>
                        <h2 class="ibexa-store-checkout-block__header-label">{{ child.vars.label }}</h2>
                    </div>

                    <div class="ibexa-store-checkout-block__content--dark ibexa-store-checkout-block__content">
                        <div class="checkout-field-group-form">
                            {{ form_widget(child) }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <button class="ibexa-store-btn ibexa-store-btn--primary">
            Complete purchase
        </button>
    {{ form_end(form) }}
{% endblock %}
