{% set constants = constants(node) %}
{% set properties = properties(node) %}
{% set methods = methods(node) %}
{% set cases = cases(node) %}
{% set functions = node.functions|default([]) %}

{% if packages|default([]) is not empty %}
    <h2 id="packages">
        Packages
        {%- include 'components/anchor.html.twig' with { anchor_link: link(node) ~ '#packages' } -%}
    </h2>
    <ul class="namespace-list">
        {% for package in packages %}
            <li>
                <span>
                    <img src="./images/arrow-right.svg" class="arrow" />
                    <a href="{{ link(package) }}">
                        {{ package.name }}
                    </a>
                </span>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if namespaces|default([]) is not empty %}
    <h2 id="namespaces">
        Namespaces
        {%- include 'components/anchor.html.twig' with { anchor_link: link(node) ~ '#namespaces' } -%}
    </h2>
    <ul class="namespace-list">
        {% for namespace in namespaces %}
            <li>
                <span>
                    <img src="./images/arrow-right.svg" class="arrow" />
                    <a href="{{ link(namespace) }}">
                        {{ namespace.name }}
                    </a>
                </span>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% set joined_data = [] %}
{% if node.interfaces[0] is defined %}
    {% set joined_data = joined_data|merge(node.interfaces) %}
{% endif %}
{% if node.classes[0] is defined %}
    {% set joined_data = joined_data|merge(node.classes) %}
{% endif %}
{% if node.traits[0] is defined %}
    {% set joined_data = joined_data|merge(node.traits) %}
{% endif %}
{% if node.enums[0] is defined %}
    {% set joined_data = joined_data|merge(node.enums) %}
{% endif %}

{% if joined_data is not empty %}
    <h2 id="interfaces">
        Interfaces, classes, traits, and enums
        {%- include 'components/anchor.html.twig' with { anchor_link: link(node) ~ '#interfaces' } -%}
    </h2>
    <ul class="namespace-list">
        {% for entry in joined_data|sort((entry1, entry2) => entry1.name <=> entry2.name) %}
            <li>
                <span>
                    <img src="./images/arrow-right.svg" class="arrow" />
                    <a href="{{ link(entry) }}">
                        {{ entry.name }}
                    </a>
                </span>
                {%- if entry.summary -%}
                    <p>{{ entry.summary }}</p>
                {%- endif -%}
            </li>
        {% endfor %}
    </ul>
{% endif %}
